<h1>Job Hunt Dashboard</h1>
<h2><%= location %></h2>
<form method="get" action="/search">
  <label for="search">Search for:</label>
  <input name="query" id="search">
  <label for="area">Near:</label>
  <input name="area" id="area">
  <button type="submit">Search</button>
</form>