<% unless company %>
  <h1>No reviews for this company.</h1>
<% else %>

  <h1><%= company.company_name %> details:</h1>

  <p>Website: <%= company.website %></p>

  <p>Overall Rating: <%= company.rating %></p>

  <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
<% end %>